.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-title {
  background-color: #f1dcb5;
  border: 5px solid orange;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-titleX {
  background-color: #f1dcb5;
  border: 5px solid orange;
  margin: 0 auto;
  font-style: italic;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: rgb(0, 0, 0);
}

.App-Description {
  background-color: #f1dcb5;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(68, 68, 68);
}

.App-link {
  color: #858585;
}
